@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif
}

.container {
    margin: 30px auto
}

.container .product-item {
    min-height: 450px;
    border: none;
    overflow: hidden;
    position: relative;
    border-radius: 0
}

.container .product-item .product {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    cursor: pointer
}

.container .product-item .product img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.container .product-item .title {
    font-size: 0.95rem;
    letter-spacing: 0.5px
}

.price {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #49C608;
    font-weight: bold;
    font-size: 120%;
}

/* Estilos del btn comprar */
#btnComprar {
    background-color: #49C608;
    border: none;
    font-weight: bold;
}

#btnComprar:hover {
    background-color: #fff;
    color: #49C608;
    border-top: #49C608 solid 2px;
    border-bottom: #49C608 solid 2px;
    border-radius: 0%;
}

/* Fin estilos del btn comprar */

/* Logo carrito */
.btn-carrito {
    background: none;
    border: none;
}
/* Fin Logo carrito */


@media (min-width: 992px) {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
    }

    nav li a {
        display: block;
        text-decoration: none;
        padding: .5em 1em;
        color: black;
    }
}